*{
    list-style: none;
    border: none;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: none;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;;
  }

a{
    color: inherit;
}
a:hover{
    cursor: pointer;
}

/* Navigation*/
.nav{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #2E2C2F;
    color: #F3E8EE;
}

.nav-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 7vh;
    transition: 0.3s;

}


.nav-list li{
    display: flex;
    transition: 0.3s;

}

.nav-list li:hover{
    cursor: pointer;
}
.hamburger{
    background-color: transparent;
    color: #F3E8EE;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0;
    display: none;
}

/* Title section */
/* Animation  Classes */
#hidden{
    opacity: 0;
}

#visible{
    opacity: 1;
    transition: opacity 2s ease-out;
}



/* Title section */

.title-section{
    /* height: 100vh; */
    background-color: #475B63;
    color: #F3E8EE;
    padding: 60px 0px;
}

.title-section-wrapper{
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-top{
    display: grid;
    grid-template-columns: 60% 40% ;
    grid-template-rows: 1;
    padding-top: 3rem;
}
.title-header{
    font-size: 9rem;
}
.logo-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.logo-section i{
    font-size: 10rem;
    color: black;
}

.cv-logo{
    height: 140px;
    width: 140px;
    background-color: black;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #475B63;
    font-weight: bolder;
    border-radius: 15px;
}

.title-mid{
    font-size: 1.2rem;
    width: 80%;
    text-align: center;
    padding-top: 2rem;

}

.title-bottom{
    padding-top: 4rem;
}

.title-bottom button{
    color: #F3E8EE;
    background-color: #729B79;
    padding: 0.8rem 1.8rem;
    font-size: 1.2rem;
    box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.title-bottom button:hover{
    cursor: pointer;
}

/* Project Section */

.project-section{
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-top{
    text-align: center;
    color: #2E2C2F;
}

.project-top h3{
    font-size: 2.4rem;
    padding: 2rem 0;
}

.project-mid{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    padding: 2rem 0;
}

.project-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 3rem;
    color: #F3E8EE;
    height: 600px;
    box-shadow: 0.3rem 0.3rem rgba(0, 0, 0, 0.692);
    text-align: center;

}
.project-wrapper h4{
    font-size: 1.8rem;
}

.project-wrapper p{
    margin: 20px 15px;
}

.project-wrapper i{
    font-size: 4rem;
    color: #F3E8EE;
    margin: 10px 0;
    transition: 0.3s;
}
.project-bottom p{
    font-size: 1.6rem;
    text-align: center;
}

.project-bottom i{
    font-size: 4rem;
    color: black;
    margin: 10px 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    
;}
.project-bottom i:hover{
    color: #52c5ae;
}
.project-wrapper button{
    padding: 0.7rem 1.6rem;
    font-size: 1rem;
    box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}




#smart-savings{
    background:#729B79 ;
}

#smart-savings button{
    color:#F3E8EE;
    background-color:#2E2C2F ;
    margin: 10px 0;
}

#todo-list{
    background:#2E2C2F ;
}

#todo-list button{
    color: #F3E8EE;
    background-color: #475B63;
    margin: 10px 0;
}



#countdown{
    background:#475B63 ;
}

#countdown button{
    color: #F3E8EE;
    background-color:#729B79 ;
    margin: 10px 0;
}

/* Skills Section */

.skills-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills-top{
    text-align: center;
    color: #2E2C2F;
}

.skills-top h3{
    font-size: 2.4rem;
    padding: 2rem 0;
}

.skills-mid{
    width: 90%;
}

.skills-list{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    padding: 20px 0;
    
}

.skills-list i{
    height: 150px;
    width: 150px;
    margin: 10px 60px;
    font-size: 10rem;
}

/* Contact Section */

.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv-btn-wrapper button{
    padding: 0.8rem 3rem;
    font-size: 1.2rem;
    box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: #F3E8EE;
    background-color:#729B79 ;
    margin: 50px 0;
    cursor: pointer;
}

.contact-section h3{
    text-align: center;
    font-size: 2.4rem;
    padding: 2rem 0;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.contact-form input, textarea{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 150px 50px 50px;
    width: 750px;
    background-color: #C4C4C4;
    font-size: 1.2rem;
}


.submit-btn{
    color:#F3E8EE;
    background-color:#475B63 ;
    margin: 30px 0;
    padding: 0.7rem 4rem;
    font-size: 1.2rem;
    box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    text-align: center;
}

/*Footer Nav */

footer{
    background-color: #2E2C2F;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.footer-nav{
    padding: 20px 0;
    display: flex;
    font-size: 1.2rem;
    color: #F3E8EE;
}

.footer-nav-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}
.footer-nav-list li{
    transition: 0.3s;
}
.footer-logos{
    display: flex;
    flex-direction: row;
}

.footer-logos i{
    font-size: 8rem;
    color: #F3E8EE;
    position: relative;
    top: -8px;
    padding: 0px 15px;
}

.footer-cv-logo{
    background-color: #F3E8EE;
    height: 110px;
    width: 110px;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2E2C2F;
    font-weight: bolder;
    border-radius: 10px;
    margin: 0;
}

.submit-btn:hover{
    cursor: pointer;
}

.status{
    padding-top: 15px;
    color: red;
}

/* Additional animations */
button{
    transition: 0.3s;
}
button:hover{
    background-color: #52c5ae;
    color: #2E2C2F;
}
#countdown button:hover{
    background-color: #52c5ae;
    color: #2E2C2F;
    cursor: pointer;
}
#todo-list button:hover{
    background-color: #52c5ae;
    color: #2E2C2F;
    cursor: pointer;

}

#smart-savings button:hover{
    background-color: #52c5ae;
    color: #2E2C2F;
    cursor: pointer;
}

.project-wrapper i:hover{
    color: #52c5ae;
}

.nav-list li:hover{
    color: #52c5ae;
}

.footer-nav-list li:hover{
    color: #52c5ae;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 1050px){
/*     Title Section*/
    .nav-list{
        display: none;
        flex-direction: column;
        font-size: 1rem;
        width: 100%;
        height: 14vh;
    }
    .nav-list.show{
        display: flex;
    }
    .hamburger{
        display: block;
    }
    .title-header{
        font-size: 6rem;
        text-align: center;
        padding-top: 3rem;
    }
    .title-section i{
        font-size: 4rem;
    }
    .cv-logo{
        height: 70px;
        width: 70px;
        font-size: 2rem;
    }
    .title-top{
        display: flex;
        flex-direction: column;
    }
    .logo-section{
        justify-content: space-around;
    }
/*     Projects Section*/
    .project-mid{
        flex-direction: column;
    }
    /* Contact Form */
    .contact-form input, textarea{
        width: 400px;
    }
    .skills-list{
        display: flex;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }
    .skills-list i{
        font-size: 6rem;
    }
}

@media (max-width: 670px){
    .title-header{
        font-size: 4rem;
    }
    .title-mid{
        font-size: 1rem;
    }
    footer{
        flex-direction: column;
    }
    
    .skills-list i{
        font-size: 6rem;
    }
}

@media (max-width: 400px){
    
    .title-mid{
        font-size: 0.7rem;
    }
    .contact-form input, textarea{
        width: 300px;
    }
    footer{
        height: 80vh;
    }
    .footer-logos{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .skills-list{
        grid-template-columns: 1fr;
    }
    .skills-list i{
        font-size: 7rem;
    }
    .title-bottom button{
        padding: 0.5rem 1.2rem;
        font-size: 0.8rem;
        box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
        border-radius: 50px;
    }
}